<aside id="aside">
    <nav id="sideNav"><!-- MAIN MENU -->
        <ul class="nav nav-list">
            <li class="active">
                <a href="#">
                    <i class="fa fa-menu-arrow pull-right"></i>
                    <i class="main-icon fa fa-bar-chart-o"></i> <span>Home</span>
                </a>
                <ul><!-- submenus -->
                    <li><a href="/">Index</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fa fa-menu-arrow pull-right"></i>
                    <i class="main-icon fa fa-bar-chart-o"></i> <span>Sites Management</span>
                </a>
                <ul><!-- submenus -->
                    <li><a href="/sites/list">Sites List</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <span id="asidebg"><!-- aside fixed background --></span>
</aside>