<header id="header">

    <!-- Mobile Button -->
    <button id="mobileMenuBtn"></button>

    <!-- Logo width:60px -->
    <span style="max-width:300px" class="logo pull-left align-middle">
        <!--<img src="/images/tuktakTestLogo.png" alt="admin panel" height="35"/>-->
        <p style="margin: 5px;font-weight: bold;color:#eeeeee;font-size: 18px" class="pull-left">
            TukTak Page Management</p>
	</span>

</header>